body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    border-style:solid;
    border-width: 1px;
    display: flex-row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px;
}

.number-input {
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
}

.submit-btn {
    margin-top: 20px;
    width: 245px;
    height: 40px;
    letter-spacing:3px;
}